@media (max-width:700px){
    .header-img img {
        height: 110px;
    }

    .content-img img {
        height: 70px;
    }

    .person-blog-profile p {
        margin-right: 170px;
    }
    .link-blog p {
        font-size: 12px;
        text-align: center;
        margin-top: 6px;
    }
    .lobbi-blog-img img {
        height: 40px;
        margin-left: 10px;
    } 

    .lobbi-blog-text p {
        font-size: 13px;
    }

    .vip-img1 img {
        height:590px ;
    }

    .vip-img2 img {
        height: 650px;
    }
}